$accent-color: #d41443;
$btnslider-color-red: #c7133e;
$btn-color-red: #d41342;
$btn-color-grey: #ecebeb;
$title-color-pink: #ffa5ba;
$social-color: #fea5bb;
$text-color-grey: #907e82;

$primary-white: #ffffff;
$text-color-dark: #000000;

$background-color-pink: #ffb8ca;
$background-color-white: #e5e5e5;
$background-color-coffe: #f0d1a5;
$background-color-green: #c2e297;
$background-color-grey: #fafafa;
$background-color-menu: #e17992;
$background-color-nature: #fff5f6;

/* Шрифты */
$fonts-main-page: "DM Sans", sans-serif;
$fonts-title: "Titan One";

// Кубик и время
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
